.tree-node {
    padding: 3px 0;
    cursor: pointer;
    border-radius: var(--border-radius-md);
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.tree-node:hover > .node-text-wrapper {
    background-color: var(--bg-hover);
}

.tree-node.selected-node > .node-text-wrapper {
    background-color: var(--selected-node-bg);
    color: var(--selected-node-text) !important;
    border-radius: var(--border-radius-sm);
}

.tree-node.selected-node > .node-text-wrapper .tree-node-key,
.tree-node.selected-node > .node-text-wrapper .tree-node-type,
.tree-node.selected-node > .node-text-wrapper .tree-node-value {
    color: var(--selected-node-text) !important;
}

.node-text-wrapper {
    display: inline-block;
    padding: 2px 5px;
    border-radius: var(--border-radius-sm);
    transition: background-color 0.1s;
}

.toggle-icon {
    margin-right: 6px;
    display: inline-block;
    width: 16px;
    text-align: center;
    font-family: var(--font-mono);
    user-select: none;
    flex-shrink: 0;
    color: var(--text-light);
}

.tree-node-key {
    font-weight: bold;
    color: var(--tree-node-key);
}

.tree-node-type {
    font-style: italic;
    color: var(--tree-node-type);
    margin-left: var(--spacing-sm);
}

.tree-node-value {
}

.tree-node-children {
    padding-left: 22px;
}