/* main.css - 모든 CSS 파일을 가져오는 메인 파일 */

/* 기본 변수 및 설정 */
@import url('css/variables.css');

/* 레이아웃 */
@import url('css/layout.css');

/* 검색 */
@import url('css/search.css');

/* 컴포넌트별 스타일 */
@import url('css/tree-view.css');
@import url('css/table-view.css');

/* 유틸리티 클래스 및 공통 스타일 */
@import url('css/utils.css');

/* diff */
@import url('css/diff-view.css');

/* theme */
@import url('css/theme.css');

/* CSS 파일 또는 <style> 태그 내에 추가 */
.custom-swal-html-container-url-ops {
    padding-top: 0.5em !important;
    padding-bottom: 1em !important;
    overflow: visible !important; /* 내부 요소가 잘리지 않도록 */
}
.swal2-popup.custom-swal-popup-wider-text-diff .swal2-html-container { /* 필요시 기본 마진 조정 */
    margin-right: 0.5em;
    margin-left: 0.5em;
}
